@media only screen and (min-device-width: 1080px) and (max-device-width: 1920px) {
    .main-nav>ul {
    display: none;
    
    }
}

.payment-method11{
	text-align: left;
    position: absolute;
    top: -19px;
}

@media only screen and (max-width: 767px) {
    .payment-method.payment-method11 {
        position: absolute;
	    right: 145px;
	    top: 2px;
        z-index: 1;
}
@media only screen and (max-width: 767px) {
    .top-right.box-meta3 {
        text-align: left;
    	margin-right: -60px;
    	margin-top: 34px
}
@media only screen and (max-width: 767px) {
    .header3 .logo {
        text-align: right;
	    position: absolute;
	    top: 43px;
	    right: 22px;
}
@media only screen and (max-width: 767px) {
    .main-nav.main-nav3 {
        z-index: 9;
	    margin: 0;
	    position: absolute;
	    right: 16px;
	    top: -9px;
}
@media only screen and (max-width: 767px) {
    .product-pagi-nav.pull-right.list-inline {
        position: absolute;
        right: 16px;
}



/*@media only screen and (max-width: 767px) {
    .main-nav {
        text-align: left;
    	margin-right: -60px;
}
*/

/*

    @media only screen and (max-width: 767px) {
    .payment-method.payment-method11 {
        text-align: center;
}
@media only screen and (max-width: 767px) {
    .top-right.box-meta3 {
        margin-top: -40px;
    	margin-right: -60px;
    }

@media only screen and (max-width: 767px) {
    .header3 .logo {
        text-align: left;
    }*/


/*
@media only screen and (max-width: 767px) {
    .main-nav.main-nav3 {
        float: right;
    	top: -22px;
    }
}*/
/*@media only screen and (max-width: 767px) {
    .header3 .logo {
        
    }
}*/

